@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ff";
  src: url("/FoundersGrotesk-Semibold.ttf");
}

@layer components {
  .gradient-text {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-teal-600 via-cyan-600 to-sky-600;
  }
  .back {
    @apply bg-gradient-to-br from-slate-50 to-slate-100;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #007b7f;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 10px;
}
